@{
        ViewData["Title"] = "Strona Główna";
    }

    <div class="text-center">
        <h1 class="display-5" style="margin-top:50px;">Witaj w aplikacji</h1>
        <p>Aplikacja napisana jako moduł obsługi przechowalni zakładu wulkanizacyjnego.<br />Będzie to część aplikacji CRM.</p>
    <div>Do aplikacji można zalogować się jako jedna z 4 osób. Każda z nich ma przyznane odpowiednie uprawnienia.</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Admin <br /> admin@test.com</li>
        <li class="list-group-item">Manager <br /> manager@test.com</li>
        <li class="list-group-item">Owner <br /> owner@test.com</li>
        <li class="list-group-item">Employee <br /> employee@test.com</li>
    </ul>
    <h1 style="margin-top:100px">Hasło do kont to Admin123*</h1>
    </div>
