@model Event
@{
    ViewData["Title"] = "Event";
}


<form method="post">
    <div class="pt-3 mt-4">
        <div class="col-6">
            <h2 class="text-primary">Dodaj wydarzenie</h2>
            <hr />
        </div>
        <div class="col-3 mb-3">
            <label asp-for="Subject"></label>
            <input asp-for="Subject" class="form-control" />
        </div>
        <div class="col-3 mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />

        </div>
        <div class="col-3 mb-3">
            <label asp-for="Start"></label>
            <input asp-for="Start" class="form-control" />
        </div>
        <div class="col-3 mb-3">
            <label asp-for="End"></label>
            <input asp-for="End" class="form-control" />
        </div>
        <button type="submit" class="btn btn-outline-primary">Dodaj</button>
        <a asp-controller="Event" asp-action="Index" class="btn btn-outline-secondary">Wróć do kalendarza</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}